<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit message</title>
</head>
<body>
    <h4>Edit your chat ID : <%= Chat.id %></h4>
    <p>This chat send from <b><%= Chat.from %></b> to <b><%= Chat.to %></b> : </p>
    <form action="/chats/<%= Chat.id%>?_method=PUT" method="post">
        <textarea name="msg" cols="50" rows="10"><%= Chat.msg %></textarea><br>
        <button>Edit</button>
    </form>
</body>
</html>